In [1]:
import pandas as pd # naimportovanie kniznice pandas na spracovanie udajov, vstup a vystup suboru CSV
import numpy as np # naimportovanie kniznice numby, pouziva sa pre pracu s polami, maticami...
import matplotlib.pyplot as plt # naimportovanie kniznice matplotlib.pyplot, pouziva na sa vizualizaciu dat

# naimportovanie z kniznice sklearn LabelEncoder, ktory sa pouziva na prevedenie/zakodovanie string/retazca na integer/cislo
# odkaz: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
from sklearn.preprocessing import LabelEncoder # zakoduje cielove hodnoty s hodnotou od 0 do pocet_hodnot-1

# nainstalujeme kniznicu tenserflow na strojove ucenie
!pip install tensorflow 
# nainstalujeme si kniznicu keras, ktora umoznuje definovat a trenovat modely neuronovych sieti
!pip install keras 

# nainportovanie z kniznice keras np_utils
from keras.utils import np_utils # 
from keras.utils import to_categorical # prepis do kategorickej premennej, prevedie cele cisla na binarnu maticu

# nainportovanie z kniznice sklearn train_test_split, ktory sa pouziva na rozdelenie dat, na trenovacie a testovacie
# odkaz: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
from sklearn.model_selection import train_test_split

# nainportovanie z kniznice sklearn MinMaxScaler, ktory transformuje prvky skalovanim jednotlivych prvkov na dany rozsah 
from sklearn.preprocessing import MinMaxScaler

Requirement already satisfied: tensorflow in d:\users\janky\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: termcolor~=1.1.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: astunparse~=1.6.3 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: h5py~=2.10.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (2.4.0)
Requirement already satisfied: google-pasta~=0.2 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: flatbuffers~=1.12.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.12)
Requirement already satisfied: six~=1.15.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: grpcio~=1.32.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.32.0)
Requirement already satisfied: opt-einsum~=3.3.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: gast==0.3.3 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (0.3.3)
Requirement already satisfied: absl-py~=0.10 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (0.12.0)
Requirement already satisfied: protobuf>=3.9.2 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (3.15.8)
Requirement already satisfied: tensorboard~=2.4 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (2.4.1)
Requirement already satisfied: wheel~=0.35 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (0.35.1)
Requirement already satisfied: numpy~=1.19.2 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.19.2)
Requirement already satisfied: wrapt~=1.12.1 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: typing-extensions~=3.7.4 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: keras-preprocessing~=1.1.2 in d:\users\janky\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: setuptools>=41.0.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (50.3.1.post20201107)
Requirement already satisfied: werkzeug>=0.11.15 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (1.28.1)
Requirement already satisfied: markdown>=2.6.8 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (0.4.4)
Requirement already satisfied: requests<3,>=2.21.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (2.24.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in d:\users\janky\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow) (1.8.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in d:\users\janky\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow) (4.2.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\users\janky\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in d:\users\janky\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in d:\users\janky\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow) (1.3.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\users\janky\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\users\janky\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in d:\users\janky\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\users\janky\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow) (3.0.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in d:\users\janky\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in d:\users\janky\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow) (3.1.0)
Requirement already satisfied: keras in d:\users\janky\anaconda3\lib\site-packages (2.4.3)
Requirement already satisfied: pyyaml in d:\users\janky\anaconda3\lib\site-packages (from keras) (5.3.1)
Requirement already satisfied: h5py in d:\users\janky\anaconda3\lib\site-packages (from keras) (2.10.0)
Requirement already satisfied: numpy>=1.9.1 in d:\users\janky\anaconda3\lib\site-packages (from keras) (1.19.2)
Requirement already satisfied: scipy>=0.14 in d:\users\janky\anaconda3\lib\site-packages (from keras) (1.5.2)
Requirement already satisfied: six in d:\users\janky\anaconda3\lib\site-packages (from h5py->keras) (1.15.0)

In [2]:
# pomocou kniznice pandas mozeme pracovat s classou dataframe
# do premennej 'dataset' sme si nacitali pomocou kniznice pandas vsetky data zo suboru 'weatherAus.csv'
dataset = pd.read_csv("weatherAUS.csv")

# pozrieme sa ako vyzera dataset s ktorym budeme pracovat
dataset.head(15) # zobrazime si prvych 15 zaznamov z datasetu
dataset.tail(15) # zobrazime si poslednych 15 zaznamov z datasetu

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145445,2017-06-11,Uluru,2.4,19.1,0.0,NaN,NaN,E,33.0,SE,...,59.0,24.0,1030.0,1026.2,NaN,NaN,8.0,18.8,No,No
145446,2017-06-12,Uluru,5.1,19.7,0.0,NaN,NaN,E,46.0,ESE,...,56.0,29.0,1028.5,1025.8,NaN,NaN,8.5,19.2,No,No
145447,2017-06-13,Uluru,2.5,21.2,0.0,NaN,NaN,ENE,35.0,ESE,...,57.0,32.0,1027.2,1023.0,NaN,NaN,10.3,20.3,No,No
145448,2017-06-14,Uluru,2.3,21.4,0.0,NaN,NaN,SE,22.0,SE,...,60.0,28.0,1026.9,1022.8,NaN,NaN,8.9,20.3,No,No
145449,2017-06-15,Uluru,2.6,22.5,0.0,NaN,NaN,S,19.0,S,...,59.0,24.0,1025.0,1021.4,NaN,NaN,8.8,22.1,No,No
145450,2017-06-16,Uluru,5.2,24.3,0.0,NaN,NaN,E,24.0,SE,...,53.0,24.0,1023.8,1020.0,NaN,NaN,12.3,23.3,No,No
145451,2017-06-17,Uluru,6.4,23.4,0.0,NaN,NaN,ESE,31.0,S,...,53.0,25.0,1025.8,1023.0,NaN,NaN,11.2,23.1,No,No
145452,2017-06-18,Uluru,8.0,20.7,0.0,NaN,NaN,ESE,41.0,SE,...,56.0,32.0,1028.1,1024.3,NaN,7.0,11.6,20.0,No,No
145453,2017-06-19,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,ESE,...,63.0,33.0,1027.2,1023.3,NaN,NaN,11.0,20.3,No,No
145454,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [3]:
# Prieskum dat
# Ciel prace: musime zistit ci zajtra bude prsat alebo nie
# Ak je dany den 1mm (jeden kubicky milimeter na stvorcovy milimeter) alebo viac (stlpec 'rainfall') tak to znamena, ze zajtra
# bude prsat ak je menej tak nebude prsat (1mm dazd znamena, ze kazda plocha stvorcoveho metra je naplnena vodou s vyskou 1 mm)
# Zistime nasledovne: celkovy pocet dni, pocet dni s najmenej 1 mm alebo viac dazdom, pocet dni s menej ako 1 mm dazda a
# percento dni s dazdom 1mm alebo viac ako 1mm

# Zistime celkovy pocet dni
total_days = len(dataset)
print("Celkovy pocet dni: ", total_days)

# Zistime pocet dni s najmenej 1mm alebo viac dazda
total_at_least_1mm = dataset[dataset.Rainfall >= 1.0].count()[4]
print("Pocet dni s najmenej 1mm dazda: ", total_at_least_1mm)

# Zistime pocet dni s menej ako 1mm dazda
total_less_than_1mm = dataset[dataset.Rainfall < 1.0].count()[4]
print("Pocet dni s menej ako 1mm dazda: ", total_less_than_1mm)

# Zistime percento dni z dazdom 1mm a viac
# Pomocou uz zistenych pocet dni a pocet dni s najmenej ako 1mm dazda
percentage_rainy_days = (float(total_at_least_1mm)*100/float(total_days))
print("Percento dazdivych dni: ", percentage_rainy_days, "%")

Celkovy pocet dni:  145460
Pocet dni s najmenej 1mm dazda:  33639
Pocet dni s menej ako 1mm dazda:  108560
Percento dazdivych dni:  23.12594527705211 %

In [4]:
# Percento nulovych hodnot v kazdom stlpci
dataset.isnull().mean()

Date             0.000000
Location         0.000000
MinTemp          0.010209
MaxTemp          0.008669
Rainfall         0.022419
Evaporation      0.431665
Sunshine         0.480098
WindGustDir      0.070989
WindGustSpeed    0.070555
WindDir9am       0.072639
WindDir3pm       0.029066
WindSpeed9am     0.012148
WindSpeed3pm     0.021050
Humidity9am      0.018246
Humidity3pm      0.030984
Pressure9am      0.103568
Pressure3pm      0.103314
Cloud9am         0.384216
Cloud3pm         0.408071
Temp9am          0.012148
Temp3pm          0.024811
RainToday        0.022419
RainTomorrow     0.022460
dtype: float64

In [5]:
# Cistenie datasetu od prazdnych/null hodnot
# Na zaklade prestudovaneho datasetu sme zistili ze stlpce Evaporation, Sunshine, Cloud9am a Cloud3pm obsahuju viac ako 30% null
# hodnoty tak sme sa rozhodli ich odstranit
# Stlpec 'Location' tiez nepotrebujeme tak ho mozme odstranit
dataset = dataset.drop(['Evaporation','Sunshine','Cloud9am','Cloud3pm', 'Location'], axis=1)

In [6]:
# Skontrolujeme nazvy stlpcov
dataset.columns

Index(['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [7]:
# Zobrazime si dataset po jeho uprave
dataset.head(15) # zobrazime si prvych 15 zaznamov z upraveneho datasetu

,Date,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
5,2008-12-06,14.6,29.7,0.2,WNW,56.0,W,W,19.0,24.0,55.0,23.0,1009.2,1005.4,20.6,28.9,No,No
6,2008-12-07,14.3,25.0,0.0,W,50.0,SW,W,20.0,24.0,49.0,19.0,1009.6,1008.2,18.1,24.6,No,No
7,2008-12-08,7.7,26.7,0.0,W,35.0,SSE,W,6.0,17.0,48.0,19.0,1013.4,1010.1,16.3,25.5,No,No
8,2008-12-09,9.7,31.9,0.0,NNW,80.0,SE,NW,7.0,28.0,42.0,9.0,1008.9,1003.6,18.3,30.2,No,Yes
9,2008-12-10,13.1,30.1,1.4,W,28.0,S,SSE,15.0,11.0,58.0,27.0,1007.0,1005.7,20.1,28.2,Yes,No
10,2008-12-11,13.4,30.4,0.0,N,30.0,SSE,ESE,17.0,6.0,48.0,22.0,1011.8,1008.7,20.4,28.8,No,Yes
11,2008-12-12,15.9,21.7,2.2,NNE,31.0,NE,ENE,15.0,13.0,89.0,91.0,1010.5,1004.2,15.9,17.0,Yes,Yes
12,2008-12-13,15.9,18.6,15.6,W,61.0,NNW,NNW,28.0,28.0,76.0,93.0,994.3,993.0,17.4,15.8,Yes,Yes
13,2008-12-14,12.6,21.0,3.6,SW,44.0,W,SSW,24.0,20.0,65.0,43.0,1001.2,1001.8,15.8,19.8,Yes,No
14,2008-12-15,8.4,24.6,0.0,NaN,NaN,S,WNW,4.0,30.0,57.0,32.0,1009.7,1008.7,15.9,23.5,No,NaN

In [8]:
# Ak v datasete existuju nulove hodnoty, model ich nebude akceptovat
# Tak nam zostavaju dve moznoti, ze si sami vypocitame nulove hodnoty (ze budeme predpovedat pomocou roznych metod), alebo
# odstranime riadky kde sa nachadzaju nulove hodnoty co je ten lahsi pristup
# Kedze riadky v ocistenom datasete neobsahuju vela nulovych hodnot, nema zmisel ich predpovedat, tak ich odstranime
dataset = dataset.dropna(axis=0,how="any") # odstranime kazdy riadok ak v nom existuje aspon jedna nulova hodnota

In [9]:
# Rozdelime si data
X = dataset.iloc[:, :-1].values # do premennej X si zobereme vsetky stlpce okrem posledneho stlpca
y = dataset.iloc[:, -1].values # do premennej y si zobereme posledny stlpec
print(X) # ukazka vsektych stlpcov okrem posledneho
print(y) # ukazka posledneho stlpca

[['2008-12-01' 13.4 22.9 ... 16.9 21.8 'No']
 ['2008-12-02' 7.4 25.1 ... 17.2 24.3 'No']
 ['2008-12-03' 12.9 25.7 ... 21.0 23.2 'No']
 ...
 ['2017-06-22' 3.6 25.3 ... 10.9 24.5 'No']
 ['2017-06-23' 5.4 26.9 ... 12.5 26.1 'No']
 ['2017-06-24' 7.8 27.0 ... 15.1 26.0 'No']]
['No' 'No' 'No' ... 'No' 'No' 'No']

In [10]:
X[0] # ukazka nulteho riadku v premennej X

array(['2008-12-01', 13.4, 22.9, 0.6, 'W', 44.0, 'W', 'WNW', 20.0, 24.0,
       71.0, 22.0, 1007.7, 1007.1, 16.9, 21.8, 'No'], dtype=object)

In [11]:
# Ako co vidime hore v ukazke 'X[0]', premenna X obsahuje retazce v niekotrych stlpcoch
# vsetky stlpce kde je retazec/stringova hodnota si prevedieme/zakodujeme hodnoty s hodnotou od 0 do pocet_hodnot-1 pomocou 
# kniznice LabelEncoder 
label_encoder = LabelEncoder() # zadefinujeme si label_encoder
# prevod
X[:,0] = label_encoder.fit_transform(X[:,0]) # prevod nulteho stlpca 'Date' na cisla
X[:,4] = label_encoder.fit_transform(X[:,4]) # prevod stvrteho stlpca 'WindGustDir' na cisla
X[:,6] = label_encoder.fit_transform(X[:,6]) # prevod siesteho stlpca 'WindDir9am' na cisla
X[:,7] = label_encoder.fit_transform(X[:,7]) # prevod siedmeho stlpca 'WindDir3pm' na cisla
X[:,-1] = label_encoder.fit_transform(X[:,-1]) # prevod posledneho stlpca 'RainToday' na cisla

# premenna y obsahuje same retazce/ stringove hodnoty tak si aj posledny stlpec prevedieme na cisla
y = label_encoder.fit_transform(y)

In [12]:
# Ukazka premmenej X nulteho riadku po prevode/zakodovany retazce na cisla
X[0] # ako co vidime vsetky hodnoty su cisla a mozeme dalej pracovat

array([377, 13.4, 22.9, 0.6, 13, 44.0, 13, 14, 20.0, 24.0, 71.0, 22.0,
       1007.7, 1007.1, 16.9, 21.8, 0], dtype=object)

In [13]:
y = np_utils.to_categorical(y)

In [14]:
# Testovacia podmnozina sluzi na zostavenie modelu
# Trenovacia...

# X,y prvym parametrom je mnozina dat, ktoru sme zvolili na pouzitie
# test_size urcuje velkost testovacej mnoziny, kde sme nastavili 20% dat ako testovacie
# train_size nemusime nadstavit, same sa podla test_size nastavi, v tomto pripade 80% dat je nastavene ako trenovacie
# random_state vykonava nahodne rozdelenie pomocou np.random
# odkaz: https://www.bitdegree.org/learn/train-test-split
# odkaz: https://medium.com/@julie.yin/understanding-the-data-splitting-functions-in-scikit-learn-9ae4046fbd26
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=1) 

# Vypis rozdelenia na trenovacie a testovacie data
print("Trenovacia mnozina ma",X_train.shape[0])
print("Testovacia mnozina ma",X_test.shape[0])

Trenovacia mnozina ma 90340
Testovacia mnozina ma 22585

In [15]:
# Normalizacia cisel
scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train) # normalizacia cisel v premennej X_train
X_test = scaler.fit_transform(X_test) # normalizacia cisel v premennej X_test
y_train = scaler.fit_transform(y_train) # normalizacia cisel v premennej y_train
y_test = scaler.fit_transform(y_test) # normalizacia cisel v premennej y_test

# ukazka vysledku normalizacie cisel
print(X_train[0]) # ukazka nulteho riadku v premennej X_train

[0.68823185 0.66983373 0.66219239 0.         0.13333333 0.33333333
 0.06666667 0.66666667 0.15294118 0.15294118 0.78       0.26
 0.61322314 0.58484349 0.64203233 0.67333333 0.        ]